

.aboutusImage{
      background-image: url("../img/aboutus-image.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 10in;
      position: relative;
  
}

.storytitleDiv{
   max-width: 60%;
   height: 30vh;
   position: absolute;
   top: 35vh;
   padding-left: 60px;
}


.storyTitle{
   font-size: 5rem;
   color: white;

}

.welcomeTitle{
   text-align: center;
}


.aboutusBody{
   font-size: 2rem;
   padding: 60px;
   text-align: center;
}