.m-auto{
    background-color: white;
}
.cartas{
    border: none;
    padding-top: 150px;
    padding-bottom: 150px;
}

.cocktails{
    height: 300px;
    background-color: white;
}

.title{
    text-align: center;
    font-size: 60px;
}

.body{
    text-align: center;
}