@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');



.m-auto{
    background-color: white;
}
.cartas{
    margin: auto;
    padding-left: 50px;
    padding-right: 35px;
}

.cartasImage{
    width: 100%;
    height:530px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 100%;
    height: auto;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.cartasImageMiddle{
    width: 100%;
    height:530px;
    margin: auto;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.cartasImageMiddle:hover{
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2) rotate(0deg);
    -o-transform: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(1.01) rotate(0deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.cartasImage:hover{
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2) rotate(0deg);
    -o-transform: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(1.01) rotate(0deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

/* // .cartasImageMiddle{
//     padding-right: 50px;
// } */

.cocktails{
    height: 300px;
    background-color: white;
}

.title{
    text-align: inherit;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 30px;
}

.cartasimagepadding{
    padding-top: 32px;

}
.cartasBody{
    font-size: 25px;
    padding-right: 100px;
}


.cartasMiddle{
    font-size: 20px;
    padding-left: 80px;
    margin: auto;
}

.cartasmiddlecontainer, .cartasbottomcontainer{
    padding-top: 18vh
}

.cartasbottomcontainer{
    padding-bottom: 32px;
    padding-left: 80px;
}



.cartasTeam{
    border: none;
    margin: auto;
}

.cartasImageLuis{
    margin: auto;
}

.cartasBodyTeam{
    text-align: center;
}

.titleTeam{
    font-size: 2rem;
}