.cocktailRecipeCarta{
    margin-left: 235px;
}
.line{
    border: 0.5px solid red;
}

.mainImage{
    height: 700px;
    width: 700px;
    display: block;
}

.cocktailRecipeCartaTitleList{
    font-size: 40px;
}

.cocktailRecipeCartaList{
    font-size: 20px;
}