
.contactImage{
    background-image: url("../img/friends.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5in;
}

.contactTitle{
    color: white;
    text-align: center;
    font-size: 3.5rem;
}

