
.contactImage{
    background-image: linear-gradient(217deg, rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555) 70.71%),
    url("../img/friends.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5in;
    
}

.contactTitle{
    color: white;
    text-align: center;
    font-size: 3.5rem;
}



.questions{
    text-align: center;
}

.questionTitle{
    font-size: 1.5rem;
}

.contactFormBackground{
    background-color: white;
}

.contactForm{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.fields{
    padding: 10%;
    padding: 5%;
    padding-top: 3%;
    text-align: center;
}

.contactButton{
    width: 20%;
}




