
.contactImage{
    background-image: url("");
}

.contactusTitle{
    text-align: center;
}

.contact{
    background-color: white;
    border-radius: 2rem;
}

.background{
    background-color: black;
    height: 60%;
}