

.footerBackground{

    background-color: rgb(36, 35, 34);
}

.companyPadding{
    padding-top: 50px;
}

.company{
    font-size: 1.5rem;
}

.about{
    font-size: 1rem;
}

.contact{
    font-size: 1rem;
}