// .footerParent{
    
//   left: 0;
//   bottom: 0;
//   width: 100%;
// }

// .footerBackground{

//     background-color: rgb(36, 35, 34);
// }


.footerCompanySection{
    margin: auto;
    padding-left: 20%;
    
}
.company{
    font-size: 1.5rem;
    color: white;
}

.about, .contact{
    font-size: 1rem;
    color: white;
    
    
}

.about:hover{
    color: black; 

}

.aboutuslink:hover { text-decoration: none; }


.aboutuslink:active { text-decoration: none; }



.contact:hover{
    color: black; 

}

.contactlink:hover { text-decoration: none; }


.contactlink:active { text-decoration: none; }

.footerParent{
    max-width: 100%; 
    background-color: rgb(51, 51, 51);
}
