


.black-rectangle-instructions{
    background-color: black;
    height: 9in;
    display: flex;
    justify-content: center;
    align-items: center;
}



.textWhiteInstructions{
    color: white;
    text-align: center;
     font-size: 3.5rem;

 
}

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//   .textWhite{
//     transform: translate(25vw);
//   }
// }