


.black-rectangle-instructions{
    background-color: black;
    height: 9in;
    position: relative
}



.textWhiteInstructions{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50vh;
    font-size: 3.5rem;
    transform: translate(-50%);
    margin: auto;

 
}

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//   .textWhite{
//     transform: translate(25vw);
//   }
// }