.drink{
  // background: url(https://i.ytimg.com/vi/QGJNh3utLps/maxresdefault.jpg);
    background-image: url("../img/cocktail4.jpg");
    background-position: center;
}

.l-image{
  text-align: center;
  margin-top: 50vh;
  transform: translate(-15vw,-50%);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .l-image{
    transform: translate(0vw,-50%);
  }
}