
.loginImage{
    background-image:  linear-gradient(217deg, rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555) 70.71%), url("../img/login-image.jpeg");
    background-size: cover;
}


.forgotPassword{
    color: rgb(68, 116, 247);
}


.loginTitle{
    font-size: 1.5rem;
    padding-bottom: 10px;
}


.loginCardBackground{
        box-shadow: 5px 5px 25px  #000000bb
}


.loginButton{
    background-color: rgb(54, 54, 54);
    border: none;
}

.loginButton:hover{
    background-color: black;
}

.settings{
    display: flex;
}

.form-check-label{
display: flex;

}

