.profileCarta{
    margin: auto;
    width: 60%;
    border: 0.5px solid black;
    border-radius: 0;
    margin-top: 10px;
    padding: 10px;
}

.profileImage{
    height: 500px;
    object-fit: cover;
}


.profilePills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeBody, .cocktailBody{
    text-align: center;
}

.pillstyle{
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
}

.recipespill{
    border: transparent;
    border-radius: 5px;

}

.nav-tabs .nav-link.active{
    background-color: rgb(54, 54, 54);

    color: white;
    border-radius: 5px;
    border: none;
}



