


.black-rectangle{
    background-color: black;
    height: 9in;
    display: flex;
    justify-content: center;
    align-items: center;

}



.textWhite{
    color: white;
    text-align: center;
     font-size: 3.5rem;


 
}



